.btn-custom-submit, .btn-custom-reset {
  background-color: gray;
  opacity: 0.7; }

body {
  background-color: #212121; }

.bg-custom {
  background-color: #212121; }

.accordion-button:not(.collapsed) {
  background-color: #358126; }

.iframe-custom {
  margin: 30px auto;
  display: block; }

.btn-custom-reset:hover {
  opacity: 1;
  color: #111;
  background: #4c9e3c;
  box-shadow: 0 0 50px #3d7c30; }

.btn-custom-submit:hover {
  opacity: 1;
  color: #111;
  background: #4c9e3c;
  box-shadow: 0 0 50px #3d7c30; }

.transit {
  animation: transition 0.75s; }

@keyframes transition {
  from {
    opacity: 0;
    transform: rotateX(-10deg); }
  to {
    opacity: 1;
    transform: rotateX(0); } }

.floatingPlaceholders {
  color: black; }

* {
  margin: 0;
  padding: 0; }

.navbar-custom {
  background: linear-gradient(gray, #212121); }

footer {
  background: linear-gradient(#212121, gray); }

.border-custom {
  border: 4px double #4c9e3c;
  border-radius: 10px; }

header ul li a {
  display: inline-block;
  color: #008000;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: 18px;
  overflow: hidden; }

header ul li a:hover {
  background: #4c9e3c;
  border-radius: 10px; }

.btn-custom-submit, .btn-custom-reset {
  background-color: gray;
  opacity: 0.7; }
