* {
    margin: 0;
    padding: 0;
}

html{
    background-color: #1d2015;
}

body{
    color:white;
}

.layout{
    display: grid;
    grid-template-areas: 
        'header header header'
        'main main main'
        'footer footer footer'
    ;

}

.carousel{
    margin: 0 auto;
}

header{
    grid-area: header;
    background-image: linear-gradient(black, gray);
    /* background-color: #1d2015; */
    /* display: flex; */
}

/* .navbar-collapse{
    flex-grow: initial;
} */


main{
    grid-area: main;
    background-color: #2b2c28;
    padding: 20px;
}

footer {
    grid-area: footer;
    background-color: #1d2015;
    margin-top: 10px;
}


.div_logo{
    width: 10%;
}

.header_logo{
    width: 100%;
}
/* 
.nav{
    display: flex;
    width: 100%;
}

.ul_nav{
    display: flex;
    width: 100%;
    list-style: none;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.listItem a{
    color: white;
    text-decoration: none;
    height: fit-content;
    width: fit-content;
    margin: 0 20px;
    font-size: 32px;
    animation-name: change-color;
    animation-duration: 3s;
    animation-iteration-count: infinite;
} */

@keyframes change-color{
    from {color: white;}
    to {color: gray;}
}

.main-title {
    font-family: 'Merriweather Sans', sans-serif;
    color: white;
    margin: 10px;
    text-align: center;
}

.social-networks{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.social-item{
    list-style: none;
}

.facebook-logo{
    width: 50px;
    margin-right: 20px;
    transition: width 2s;
}

.facebook-logo:hover{
    width: 75px;
}

.instagram-logo{
    width: 50px;
    transition: width 2s;
}

.instagram-logo:hover{
    width: 75px;
}

.images-grid{
    display: grid;
    height: 65%;
    grid-template-columns: 100px 100px;
    grid-template-rows: 100px 100px;
    gap: 20px;
    justify-content: center;
}

.itemgrid{
    display: flex;
    justify-content: center;
}

.img-index{
    width: 100%;
}

.description{
    padding-bottom: 20px;
}

.description_p{
    padding: 0 40px 10px 40px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 15px;
}

.description_title{
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
}

.centered{
    text-align: center;
}


.about_me_p{
    padding: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
}


.where_title{
    text-align: center;
    margin: 2%;
}


@media screen and (max-width: 1000px) {
    .listItem a{
        font-size: 16px;
    }
}

@media screen and (max-width: 600px) {
    .listItem a{
        font-size: 12px;
    }
}

@media screen and (max-width: 500px) {
    .listItem a{
        font-size: 8px;
    }
    .description_p{
        font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-size: 10px;
    }
}

.grid-planes {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    border: solid 2px white;
    }
    
.plan1 { grid-area: 1 / 1 / 2 / 2; }
.plan2 { grid-area: 1 / 2 / 2 / 3; }
.plan3 { grid-area: 1 / 3 / 2 / 4; }

.description_planes{
    margin: 10px;
}

.title_planes{
    text-align: center;
    margin: 20px;
}

.titles{
    text-align: center;
    margin: 15px;
}

.contact_form{
    width: 10%;
    margin: 0 auto;
}

.div_form{
    width: 100%;
    border: 2px solid white;
    border-radius: 5px;
}

.faq{
    text-align: center;
    border: 2px solid white;
    border-radius: 5px;
}

.about_me_title {
    text-align: center;
}

